footer.footer 
    .container
        .footer__row 
            .footer__nav.nav 
                ul.nav__list 
                    li 
                        a.active(href="#" data-i18n="footer_terms") Terms & Conditions
                    li 
                        a(href="#" data-i18n="footer_cookies") Cookies
                    li 
                        a(href="#" data-i18n="footer_contacts") Contacts
                    li.mobile-only 
                        a(href="#" data-i18n="footer_careers") Careers
                    li.mobile-only
                        a(href="#" data-i18n="footer_brand") Brand Guide
            .footer__social.socials 
                p(data-i18n="footer_social") Our social media:
                .socials__list 
                    a(href="#" aria-label="Twitter") 
                        svg.icon.icon--twitter(aria-hidden="true")
                            use(href="./img/svgsprite/sprite.symbol.svg#twitter")
                    a.mobile-only(href="#" aria-label="Facebook") 
                        svg.icon.icon--facebook(aria-hidden="true")
                            use(href="./img/svgsprite/sprite.symbol.svg#facebook")
                    a.mobile-only(href="#" aria-label="Social") 
                        svg.icon.icon--soc(aria-hidden="true")
                            use(href="./img/svgsprite/sprite.symbol.svg#soc")
                    a(href="#" aria-label="Instagram") 
                        svg.icon.icon--instagram(aria-hidden="true")
                            use(href="./img/svgsprite/sprite.symbol.svg#instagram")
                    a(href="#" aria-label="YouTube") 
                        svg.icon.icon--youtube(aria-hidden="true")
                            use(href="./img/svgsprite/sprite.symbol.svg#youtube")
                    a(href="#" aria-label="TikTok") 
                        svg.icon.icon--tiktok(aria-hidden="true")
                            use(href="./img/svgsprite/sprite.symbol.svg#tiktok")
                    a(href="#" aria-label="Telegram") 
                        svg.icon.icon--telegram(aria-hidden="true")
                            use(href="./img/svgsprite/sprite.symbol.svg#telegram")
                    a(href="#" aria-label="VK") 
                        svg.icon.icon--vk(aria-hidden="true")
                            use(href="./img/svgsprite/sprite.symbol.svg#vk")
