.mobile-nav(data-i18n-aria="aria_mobile_nav" aria-label="Mobile navigation")
    ul.mobile-nav__list
        li 
            a(href="#" data-i18n="nav_about") About us
        li 
            a(href="#" data-i18n="nav_grand") Grand
        li 
            a(href="#" data-i18n="nav_commissions") Commissions
        li 
            a(href="#" data-i18n="nav_blub") Blub
        li 
            a(href="#" data-i18n="nav_contact") Contact us
        li 
            a(href="#" data-i18n="nav_careers") Careers
    .mobile-nav__buttons
        button.btn-navbar.btn-outline.text-uppercase(type="button" data-i18n="btn_login") Log in
        button.btn-navbar.btn-accent.text-uppercase(type="button" data-i18n="btn_signup") Sign up
